{{!< default}}
    <div>
        <h2 class="page-title">{{title}} Projects</h2>
        <div class="course-projects">
            {{#get "posts" limit="all" filter="tags:[{{slug}}]" include="tags" order="title asc"}}
                {{#foreach posts}}
                    {{> "loop"}}
                 {{/foreach}}
            {{/get}}
        </div>
    </div>