{{!< default}} 
    <head>
        <link rel="stylesheet" type="text/css" href="{{asset "css/robotics-page.css"}}">
    </head>
    <main>
        <div class="page-head">
            <img id="robotics-logo" src="{{asset "images/robotics-club-logo.png"}}" alt="Logo for CGPS Robotics Club">
            <h2>Robotics</h2>
        </div>
        <div class="description">
            <p>Robotics description here</p>
        </div>
        <div id="robotics-posts">
            {{#get "posts" limit="all" filter="tags:[robotics]" include="tags" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/get}}
        </div>
    </main>
