{{!< default}} 
    <head>
        <link rel="stylesheet" href="{{asset "css/weather.css"}}">
    </head>

    {{!-- Using icons from font awesome: https://fontawesome.com/icons/categories/weather --}}

    <div id="weather-body">     
        
    </div>
    <script src="{{asset "js/weather.ts"}}"></script>
    <script src="https://kit.fontawesome.com/8fb0525dd0.js" crossorigin="anonymous"></script>