/* Variables */
:root {
--robotics_black: #1C1C1C;
--robotics_gray: #6A7B76;
--robotics_light_blue: #52A2FF;
--robotics_white: #EEF0F2;
--robotics_blue: #1118FC;
}
/* General */

/* Fonts */

/* Layout */
@media (min-width: 600px) {
    .robotics-posts {
        margin-top: -30px;
    }
}

div.page-head {
    display: flex;
    margin-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#robotics-logo {
    width: 40px;
}

#robotics-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-left: 5%;
    margin-right: 5%;
    text-wrap: wrap;
}

.description {
    width: 380px;
    margin-left: 5%;
    height: min-content + 20px;
    padding-bottom: 40px;
}

/* Specific to Tag */

article > a > div > div, body > div.gh-site > div > main > div.robotics-posts > article > a > div > header > h2, body > div.gh-site > div > main > div.robotics-posts > article > a > footer > span {
    color: var(--robotics_black);
}
article > a > div > header > span {
    color: var(--robotics_light_blue);
}

article > a > footer {
    background-color: var(--robotics_white);
    border-color: var(--robotics_white);
}
/* Responsive Design */

@media only screen and (max-width: 1190px) {
    #robotics-posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {
    #robotics-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    #robotics-posts {
        grid-template-columns: repeat(1, 1fr);
    }

    .description {
        width: 80%;
    }
}


@media only screen and (max-width: 600px) {
    div.page-head {
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
}