/* General */

/* Fonts */
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}


/* Layout */
.club-header #robotics-logo {
    height: 60px;
    margin-left: 30px;
}
/* Needs to be made with better responsive design that can go along with site header */
div.club-header {
    display: flex;
    margin-left: 30px;
    padding-bottom: 20px;
}

.robotics-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 1200px) {
    .robotics-posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .robotics-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .robotics-posts {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (max-width: 600px) {
    div.club-header {
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
}